#################
## Android Studio
#################

# Android Studio
build
.idea
.gradle

# Local configuration file (sdk path, etc)
local.properties
*.iml
app/src/main/res/values/other.xml
app/src/debug/res/values/other.xml
app/src/beta/res/values/other.xml
app/crashlytics.properties
app/google-services.json